body{
    background-image: url(https://img.freepik.com/fotos-premium/koestliche-fotografie-von-sushi-auf-glattem-schwarzem-hintergrund-ki-erzeugte-kunst_35766-2624.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}