body{
    background-image: url(https://img.freepik.com/premium-vector/sushi-logo-template-japanese-food-cafe-with-salmon-sushi_472998-350.jpg?semt=ais_hybrid);
    background-size: cover;
    background-repeat: no-repeat;

}