body{
    margin:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image:url(https://images3.alphacoders.com/276/276815.jpg);
  background-size: cover;
  background-repeat:no-repeat;
}
nav{
   
    text-decoration: none;
   display: flex;
   width:1600px;
    padding:30px;
    font-size: 30px;
    position: relative;
    justify-content:space-around;

    
}

nav a:hover{
    color:yellow;
    transform: scale(1.40);
    transition-delay:0.3s;
    transition-duration:0.4s;
    border:1px solid orange;
    border-radius: 10px;
    background-color:orange;
   
   

}
nav a{
   text-decoration:none;color:red;
    transition: 0.3s;
    color:white;
    padding:10px 15px;
    
}
nav:hover{
   
    transition:0.3s;
   
    
}
header{
    display:flex;
    justify-content:space-around;
    background-color: black;
    align-items: center;
  
}
header img{
    border-radius: 30%;
}

    

.catalog {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width:1200px;
  }
  
  .card {
    height: 520px;
    width: 370px;
    text-align: center;
    padding: 20px;
    background-color: #f6f6f6;
    border-radius: 15px;
    font-size: 20px;
    margin-top:13px;
    margin:30px;
    cursor:pointer;
  }
  
  .card img {
    height: 300px;
    width: 360px;
  }
  
  .price{
    color: red;
  }
  
  
  